.grid {
  height: 420px;
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  box-sizing: border-box;
}

.grid div {
  height: 40px;
  width: 40px;
  border: 0.5px solid black;
}

.grid div:hover {
  background-color: #23e05c;
}

.checked {
  background-color: red;
}

.boom {
  background-color: orange;
}

.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flagstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}
